*{
    padding: 0;
    margin: 0;
}
:root
{
        background-image: url('../imgs/fundo-tms.png');
        background-repeat: no-repeat;
        background-size: cover;
}
.formulario-container{
    margin: 50px 45%;
    width: 700px;
    height: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #353434;
}
.titulo-formulario
{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.rotulo-campo
{
    width: 200px;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.dado-campo
{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}
.dado-campo-s
{
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}
.dado-campo-r
{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}
.btn
{
    width: 150px;
    height: 40px;
    padding: 5px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    position: relative;
    background-color: #1f1e1e;
    color: rgb(10, 210, 245);
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover
{
    width: 150px;
    height: 40px;
    padding: 5px;
    float: right;
    position: relative;
    background-color: rgb(10, 210, 245);
    color: #1f1e1e;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}
.link-formularios
{
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    
}
.historico
{
    padding: 15px;
    margin-left: 20px;
}
